* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 1.6rem;
    margin: auto;
    max-width: 60rem;
    color: #1f0ffa;
    background: radial-gradient(
      circle,
      rgb(42, 178, 241) 0%,
      rgb(37, 86, 200) 89%,
      rgb(34, 12, 198) 100%
    );
  }

.container {
    display: flex;
}

.grid {
    width: 200px;
    height:400px;
    display:flex;
    flex-wrap: wrap;
    background-color:blue;

}

.grid div {
    height: 20px;
    width: 20px;
    
}

.tetromino {
    background-color:aqua;
}

.mini-grid {
    margin-left:50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color:blue;
}

.mini-grid div {
    height:20x;
    width:20px;
}